#root{
  width: fill;
  min-width: 100%;
}

.App{
  display: grid;
  grid-template-areas: 
  "app-nav"
  "app-header"
  "app-main"
  "app-footer";
  height: max-content;
  
}

h2{
  color: #495E57;
}

.app-nav{
  display: grid;
  grid-area: app-nav;
}

.app-header{
  grid-area: app-header;
}

.app-main{
  grid-area: app-main;
}

.app-footer{
  grid-area: app-footer;
  padding: 0px;
}

.nav-div{
  display: grid;
  grid-template-areas: "logo-div links-div";
  grid-template-columns: 1fr 2fr;
  margin: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  justify-content: center;
  align-content: center;

}

.logo-div{
  grid-area: logo-div;
  justify-self: left;
  padding: 0.5em;
}

.logo-nav{
  max-width: auto;
  min-width: auto;
  justify-self: left;
}

.links-div{
  grid-area: links-div;
  justify-content: center;
  align-items: center;
}

.list{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6,auto);
}

.list li{
  padding: 0.5em;
}

a:link{
  color: #495E57;
  text-decoration: none;
  font-weight: 600;
  font-style: normal;
  font-family: 'karla',sans-serif;
  font-size: medium;
}

a:visited{
  color: #495E57;
}

a:hover{
  font-weight: 800;
  transition: 3s;
}

.header-div{
  display: grid;
  grid-template-areas: "hero-left hero-right";
  grid-template-columns: 1fr 1fr;
  background-color: #495E57;
}

/*
div.back-rect{
  position: absolute;
  align-self: center;
  min-width: 760px;
  height: 200px;
  top: 230px;
  left: 0px;
  background-color: #EE9972;
  margin: 0;
  text-align:center;
  width: 100%;
}
*/

.hero-left{
  grid-area: hero-left;
  position: relative;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
}

.hero-left h1{
  margin-bottom: 0;
  color: #F4CE14;
  font-family: 'Markazi Text',serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4em;
  line-height: 0.5em;
}

.hero-left h2{
  margin-top: 0;
  color: #EDEFEE;
  font-family: 'Markazi Text', serif;
  font-style: normal;
  font-weight: 100;
  font-size: 2em;
}

.hero-left p{
  color: #EDEFEE;
  text-overflow: clip;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
}

.hero-right{
  grid-area: hero-right;
  position: relative;
  margin: 1rem;
  text-align: center;
}

.hero-image{
  border-radius: 50%;
  justify-self: center;
  object-fit: cover;
}

.call-to-action-section{
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-template-columns: repeat(2,1fr);
  align-content: left;
}

button{
  margin: 1rem;
  margin-right: 1rem;
  margin-left: 0;
  background-color: #F4CE14;
  font-family: 'karla' , sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #495E57;
  border: none;
  border-radius: 0.5em;
  height: 3rem;
  width: fit-content;
  object-fit: cover;
  -webkit-transition: 350ms border ease-in-out;
  -moz-transition: 350ms border ease-in-out;
  -o-transition: 350ms border ease-in-out;
  transition: 250ms border ease-in-out;
}

span{
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  height: 3rem;
  object-fit: cover;
}
/*
background: #FBDABB; */

button:hover{
  cursor: pointer;
  border-bottom: 0.4em solid #EE9972;
}

button:active{
  background-color: #EE9972;
  color: #EDEFEE;
  transition: ease;
}


/* 
background-image: linear-gradient(#F4CE14 88%, #EE9972 12%);
padding-top: 1.5rem;
border-bottom: 0.5em solid #EE9972; 
*/


.homepage-section{
  
}

.specials{
  background-color: #EDEFEE;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
}

.group-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
}

.card{
  background-color: white;
  margin: 2rem;
  padding: 1rem;
  justify-content: center;
  text-align: center;
}

.booking-div{
  display: grid;
  grid-template-columns: repeat(2, 1fr );
}

.booking-div form{
  display: grid;
  margin: 1rem;
  padding-left: 5rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rest-image{
  justify-content: center;
  align-items: center;
  text-align: right;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.field{
  display: grid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: 'karla' , sans-serif;
  font-weight: 700;
  font-size: 1em;
}

.field label{
  color: #495E57;
}

.field input, .field select{
  font-family: 'karla' , sans-serif;
  font-weight: 500;
  font-size: 1em;
  border: none;
  background-color: #EDEFEE;
  color: #495E57;
  padding: 0.5rem;
}

/*
#res-date::after, #occasion::after{
  color: #EE9972;
  background-color: #F4CE14;
}
*/

#reserve{
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color:#F4CE14;
  color: #495E57;
  font-family: 'karla' , sans-serif;
  font-weight: 800;
  font-size: 1em;
  border-radius: 0.5em;
  height: 3rem;
  object-fit: cover;
  -webkit-transition: 350ms border ease-in-out;
  -moz-transition: 350ms border ease-in-out;
  -o-transition: 350ms border ease-in-out;
  transition: 250ms border ease-in-out;
}

#reserve:hover{
  cursor: pointer;
  border-bottom: 0.4em solid #EE9972;
}

#reserve:active{
  background-color: #EE9972;
  color: #EDEFEE;
  transition: ease;
}

.about{
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: #495E57;
}

.about-left{
  margin: 3rem;
  padding-right: 1rem;
  color: #EDEFEE;
  width: 30vw;
  height: 50vh;
  white-space: normal;
  overflow: auto;
  text-overflow: ellipsis;
}

.about-left h1{
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-size: 3em;
  line-height: 0.8em;
  margin: 0;
}

.about-left h2{
  font-family: 'Markazi Text', serif;
  font-size: 2em;
  margin-top: 0;
  line-height: 0.6em;
}

.about-left p{
  text-overflow: ellipsis;
  font-family: 'karla' , sans-serif;
  font-weight: 200;
}

.chief-cooking-image{
  object-fit: cover;
  margin-right: 1rem;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
}

.adrian-mario-image{
  object-fit: cover;
  margin-left: 1em;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
}

.footer-sec{
  background-color: #495E57;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.footer-sec ul{
  justify-content: center;
  text-align: left;
  align-self: baseline;
  color: #EDEFEE;
  list-style-type: none;
  font-family: 'karla' , sans-serif;
  font-weight: 300;
}

