#root{
  width: fill;
  min-width: 100%;
}

.App{
  display: grid;
  grid-template-areas: 
  "app-nav"
  "app-header"
  "app-main"
  "app-footer";
  height: max-content;
}

.app-nav{
  display: grid;
  grid-area: app-nav;
 
}

.app-header{
  grid-area: app-header;
}

.app-main{
  grid-area: app-main;
}

.app-footer{
  grid-area: app-footer;
}

.nav-div{
  display: grid;
  grid-template-areas: "logo-div links-div";
  grid-template-columns: 1fr 2fr;
  margin: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  justify-content: center;
  align-content: center;
  

}

.logo-div{
  grid-area: logo-div;
  justify-self: left;
  padding: 0.5em;
}

.logo-nav{
  max-width: auto;
  min-width: auto;
  justify-self: left;
}

.links-div{
  grid-area: links-div;
  justify-content: center;
  align-items: center;
}

.list{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6,auto);
}

.list li{
  padding: 0.5em;
}

a:link{
  color: #495E57;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  font-family: 'karla',sans-serif;
}

a:visited{
  color: #495E57;
}

.header-div{
  display: grid;
  grid-template-areas: "hero-left hero-right";
  grid-template-columns: 1fr 1fr;

}


div.back-rect{
  position: absolute;
  align-self: center;
  min-width: 700px;
  height: 20rem;
  left: 0px;
  background-color: #495E57;
  margin: 0;
  text-align:center;
  width: 100%;
}




.hero-left{
  grid-area: hero-left;
  position: relative;
  margin: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
}

.hero-left h1{
  margin-bottom: 0;
  color: #F4CE14;
  font-family: 'Markazi Text',serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4em;
  line-height: 0.5em;
}

.hero-left h2{
  margin-top: 0;
  color: #EDEFEE;
  font-family: 'Markazi Text', serif;
  font-style: normal;
  font-weight: 100;
  font-size: 2em;
}

.hero-left p{
  color: #EDEFEE;
  text-overflow: clip;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
}

.hero-right{
  grid-area: hero-right;
  position: relative;
  margin: 1rem;
  justify-content: center;
  text-align: center;
}

.hero-image{
  border-radius: 50%;
  justify-self: center;
  object-fit: cover;
}


.footer-sec{
  background-color: #495E57;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;

}

.footer-sec ul{
  justify-content: center;
  text-align: left;
  align-self: baseline;
  color: #EDEFEE;
  list-style-type: none;
  font-family: 'karla' , sans-serif;
  font-weight: 300;
}

